
@{
    ViewBag.Title = "AddAdmission";
}
<style>

    .border-right {
        border-right: 1px solid #dee2e6 !important;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] {
        background-color: #fff;
    }
</style>

<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Patient Admission</div>
        <div class="panel-body">
            <table id="jqPatientAdmitGrid"></table>
            <div id="jqPatientAdmitGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/PatientAdmit/PatientAdmit.js"></script>
<section class="content">
    <div class="modal fade" id="PatientAdmissionModalPopup">
        <div class="modal-dialog box box-info" style="width:80%;">
            <div class="modal-content ">
                <div class="box-header with-border">
                    <h3 class="box-title" id="ProfileTitle"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    @*<img class="rounded-circle mt-5 image" id="ProfileImage" style="max-width:220px" src="">*@
                                </div>
                            </div>
                            <div class="col-md-3 border-right">
                                <div class="p-3 py-5 form-group">
                                    <div class="col-md-12 form-group"><label class="labels">Patient Name</label><input type="text" id="PatientName" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Doctor Name</label><input type="text" id="DoctorName" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Admission Date</label><input type="text" id="AdmissionDate" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Planned Procedure</label><input type="text" id="PlannedProcedure" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Item Number</label><input type="text" id="ItemNumber" class="form-control" readonly></div>
                                    
                                </div>
                            </div>
                            <div class="col-md-3 border-right">
                                <div class="p-3 py-5  form-group">

                                    
                                    <div class="row md-3 form-group">

                                        <div class="col-md-12 form-group"><label class="labels">DateofBirth</label><input type="text" id="DateofBirth" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Gender</label><input type="text" id="Gender" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Phone Number</label><input type="text" id="PhoneNumber" class="form-control" readonly></div>
                                        <div class="col-md-6 form-group"><label class="labels">Address</label><input type="text" id="Address" class="form-control" readonly></div>
                                        <div class="col-md-6 form-group"><label class="labels">City</label><input type="text" id="City" class="form-control" readonly></div>
                                        <div class="col-md-6 form-group"><label class="labels">PostalCode</label><input type="text" id="PostalCode" class="form-control" readonly></div>
                                        <div class="col-md-6 form-group"><label class="labels">State</label><input type="text" id="State" class="form-control" readonly></div>

                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="p-3 py-5">
                                    <div class="col-md-12 form-group"><label class="labels">Marital Status</label><input type="text" id="MaritalStatus" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Guardian Name</label><input type="text" id="GuardianName" class="form-control" readonly></div><br>
                                    <div class="col-md-12 form-group"><label class="labels">Patient Under the Age of Below 18</label><input type="text" id="PatientBelow18" class="form-control" readonly></div><br>
                                    <div class="col-md-12 form-group"><label class="labels">Contact To the Patient</label><input type="text" id="Contact" class="form-control" readonly></div><br>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</section>