<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/Images/Home/bg/covid-19-vaccine-graphic-img.jpg) ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h1 class="mb-4">Welcome To Our Selvam Hospital Center</h1>
                            <p>Our team of over doctors join me in giving you the best of modern healthcare to ensure you stay healthy, always.</p>
                            <p><a href="#Appointment" class="btn btn-primary">Book an appointment</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="slider-item" style="background-image: url(/Images/Home/bg/discharge-process.jpg) ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h1 class="mb-4">We Care For Your Health Every Moment</h1>
                            <p>Get the most advanced emergency care anywhere in just minutes. Contact Selvam Hospital Now.</p>
                            <p><a href="#Appointment" class="btn btn-primary">Book an appointment</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>