
@{
    ViewBag.Title = "Index";
}



<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Doctor Details</div>
        <div class="panel-body">
            <table id="jqDoctorGrid"></table>
            <div id="jqDoctorGridPager"></div>

        </div>
    </div>
</div>

<script src="~/Scripts/Doctor/Doctor.js"></script>
