.popup {
    background-color: #000000a6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* 	display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
.popup h3{text-align:center;}
.popup-img {
   display:block;
 margin:auto;   
    max-width: 200px;
   
}
.popup-content h3 {
    padding: 15px;
    color: #4ba0f9;
}
.txt {font-weight:bold;
    margin-left: 10px;
    color: var(--bs-body-color);
    font-size: 16px;
}
.popup-text {
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7); /*text-align:center*/
    float: right;
    margin-right: 10px;
}
.popup-content {
    align-items: center;
    justify-content: center;
    border-radius: 8px;
   /* background-image: url("/Images/popupimg2.jpg");*/
    display: none;
    max-width:1500px;
    width: 100%;
     background: #fff;
    max-height: 600px;
    overflow: auto;
    position: relative;
    padding: 35px;
    margin: 0 15px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.icon-close {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #777;
    float: right;
}

body.showPopup .popup {
    display: flex;
}

body.showPopup .popup-content {
    display: block;
    animation: popup 0.3s forwards;
}

body.removePopup .popup-content {
    animation: popupclose 0.3s forwards !important;
}

@keyframes popup {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popupclose {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.5;
    }
}
/* button */
.open-btn {
    background-color:Green;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius:2px;
    cursor: pointer;
}
