
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />*@
<style>

    .border-right {
        border-right: 1px solid #dee2e6 !important;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled]
    {
        background-color:#fff;
    }
</style>

<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">User Details</div>
        <div class="panel-body">
            <table id="jqUserGrid"></table>
            <div id="jqUserGridPager"></div>

        </div>
    </div>
</div>



<script src="~/Scripts/User/User.js"></script>
<section class="content">
    <div class="modal fade" id="UserDetailModalPopup">
        <div class="modal-dialog box box-info" style="width:80%;">
            <div class="modal-content ">
                <div class="box-header with-border">
                    <h3 class="box-title" id="ProfileTitle"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img class="rounded-circle mt-5 image" id="ProfileImage" style="max-width:220px">
                                </div>
                            </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5  form-group">

                                    <div class="row md-2 form-group">
                                        <div class="col-md-6"><label class="labels">First Name</label><input type="text" id="FirstName" class="form-control"  readonly></div>
                                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text" id="LastName" class="form-control"  readonly></div>
                                    </div>
                                    <div class="row md-3 form-group">
                                        <div class="col-md-12 form-group"><label class="labels">Email ID</label><input type="text" id="Email" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Mobile Number</label><input type="text" id="MobileNumber" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Gender</label><input type="text" id="Gender" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Specialist In</label><input type="text" id="Specialistin" class="form-control" readonly></div>

                                    </div>
                                    @*<div class="row md-3 form-group">
                                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" readonly></div>
                                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" readonly></div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 py-5">


                                    <div class="col-md-12 form-group"><label class="labels">Designation</label><input type="text" id="Designation" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">Address</label><input type="text" id="Address" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">Role</label><input type="text" id="Role" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">City</label><input type="text" id="City" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">State</label><input type="text" id="State" class="form-control" readonly></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</section>