
@{
    ViewBag.Title = "Index";
}


@*Patient View*@
<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Patient Details</div>
        <div class="panel-body">
            <table id="jqPatientGrid"></table>
            <div id="jqPatientGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Patient/Patient.js"></script>

