
@{
    ViewBag.Title = "Index";
}
<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Medicine Details</div>
        <div class="panel-body">
            <table id="jqPatientInquiryGrid"></table>
            <div id="jqPatientInquiryGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/PatientInquiry/PatientInquiry.js"></script>


