
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Appointment Details</div>
        <div class="panel-body">
            <table id="jqAppointmentGrid"></table>
            <div id="jqAppointmentGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Appointment/Appointment.js"></script>