
.form-control {
    border-radius: 6px;
    height: calc(2.875rem + 6px);
    padding: 5px;
    font-size: 1.25rem;
    line-height: 2;
    margin: 8px 8px;
    border: 2px solid lightgrey;
}

.col-sm-3 {
    width: 25%;
}

/*.form-control:hover {
    border-color: yellowgreen;
}*/

.important {
    color: red;
}
