
@{
    ViewBag.Title = "Index";
}
<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Medicine Details</div>
        <div class="panel-body">
            <table id="jqMedicineGrid"></table>
            <div id="jqMedicineGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Medicine/Medicine.js"></script>

