
@{
    ViewBag.Title = "Index";
}

@*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />*@
<style>

    .border-right {
        border-right: 1px solid #dee2e6 !important;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] {
        background-color: #fff;
    }
</style>

<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Patient Purchase Medicine</div>
        <div class="panel-body">
            <table id="jqPurchaseMedicineGrid"></table>
            <div id="jqPurchaseMedicineGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Purchase/PurchaseMedicine.js"></script>



<section class="content">
    <div class="modal fade" id="PurchaseMedicineDetailModalPopup">
        <div class="modal-dialog box box-info" style="width:80%;">
            <div class="modal-content ">
                <div class="box-header with-border">
                    <h3 class="box-title" id="ProfileTitle"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img class="rounded-circle mt-5 image" id="ProfileImage" style="max-width:220px">
                                </div>
                            </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5  form-group">

                                    <div class="row md-2 form-group">
                                        <div class="col-md-12"><label class="labels">Supplier Name</label><input type="text" id="SupplierName" class="form-control" readonly></div><br />
                                        <div class="col-md-12"><label class="labels">Code</label><input type="text" id="Code" class="form-control" readonly></div>
                                    </div>
                                    <div class="row md-3 form-group">
                                        <div class="col-md-12 form-group"><label class="labels">Date</label><input type="text" id="Date" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Category</label><input type="text" id="Category" class="form-control" readonly></div>
                                        
                                        <div class="col-md-12 form-group"><label class="labels">Notes</label><input type="text" id="Notes" class="form-control" readonly></div>

                                    </div>
                                    <div class="row md-3 form-group">
                                        <div class="col-md-12"><label class="labels">Discount</label><input type="text" id="Discount" class="form-control" readonly></div>
                                        <div class="col-md-12"><label class="labels">GrandTotal</label><input type="text" id="GrandTotal" class="form-control" readonly></div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 py-5">
                                    <div class="col-md-12 form-group"><label class="labels">Medicine</label><input type="text" id="Medicine" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Quantity</label><input type="text" id="Quantity" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Payment</label><input type="text" id="Payment" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">Payment Status</label><input type="text" id="PaymentStatus" class="form-control" readonly></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



</section>