
@{
    ViewBag.Title = "Index";
}

<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Patient Purchase Medicine</div>
        <div class="panel-body">
            <table id="jqPurchaseMedicineGrid"></table>
            <div id="jqPurchaseMedicineGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Purchase/PurchaseMedicine.js"></script>

