@{
    ViewBag.Title = "Index";
}

<style>

    .border-right {
        border-right: 1px solid #dee2e6 !important;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] {
        background-color: #fff;
    }
</style>


<div class="panel">

    <div class="panel panel-info">
        <div class="panel-heading">Appointment Details</div>
        <div class="panel-body">
            <table id="jqBillingGrid"></table>
            <div id="jqBillingGridPager"></div>

        </div>
    </div>
</div>
<script src="~/Scripts/Billing/Billing.js"></script>

<section class="content">
    <div class="modal fade" id="BillingDetailModalPopup">
        <div class="modal-dialog box box-info" style="width:80%;">
            <div class="modal-content ">
                <div class="box-header with-border">
                    <h3 class="box-title" id="ProfileTitle"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            @*<div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img class="rounded-circle mt-5 image" id="ProfileImage" style="max-width:220px" src="">
                                </div>
                            </div>*@
                            <div class="col-md-4 border-right">
                                <div class="p-3 py-5 form-group">
                                    <div class="col-md-12 form-group"><label class="labels">Patient Name</label><input type="text" id="PatientName" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Doctor Name</label><input type="text" id="DoctorName" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Department</label><input type="text" id="Department" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Admit Date</label><input type="text" id="AdmitDate" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Discharge Date</label><input type="text" id="DischargeDate" class="form-control" readonly></div>
                                </div>
                            </div>
                            <div class="col-md-4 border-right">
                                <div class="p-3 py-5  form-group">                                  
                                    <div class="row md-4 form-group">
                                        <div class="col-md-12 form-group"><label class="labels">Service</label><input type="text" id="Service" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Cost Of Treatment</label><input type="text" id="CostOfTreatment" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Medicine Charges</label><input type="text" id="MedicineCharges" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Doctor Charges</label><input type="text" id="DoctorCharges" class="form-control" readonly></div>
                                        <div class="col-md-12 form-group"><label class="labels">Room Charges</label><input type="text" id="RoomCharges" class="form-control" readonly></div>


                                    </div>      
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-3 py-5">
                                    <div class="col-md-12 form-group"><label class="labels">Discount</label><input type="text" id="Discount" class="form-control" readonly></div>
                                    <div class="col-md-12 form-group"><label class="labels">Total Amount</label><input type="text" id="TotalAmount" class="form-control" readonly></div><br>
                                    <div class="col-md-12 form-group"><label class="labels">Payment Type</label><input type="text" id="Payment" class="form-control" readonly></div> <br>
                                    <div class="col-md-12 form-group"><label class="labels">Card/CheckNo</label><input type="text" id="CheckNo" class="form-control" readonly></div><br>
                                    <div class="col-md-12 form-group"><label class="labels">Payment Status</label><input type="text" id="PaymentStatus" class="form-control" readonly></div><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>